<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drinkssu.yourvoicealarm" >

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    // 오디오 레코드
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    // 알람녹음파일 저장 퍼미션
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="너의 목소리가 들려"
        android:theme="@style/AppTheme" >

        <!-- ksm layout -->
        <receiver android:name="com.drinkssu.yourvoicealarm.AlarmReceive" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.drinkssu.yourvoicealarm.OffAlarm"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.drinkssu.yourvoicealarm.alarmactivity"
            android:label="너의 목소리가 들려"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.drinkssu.yourvoicealarm.create_alarm_activity"
            android:label="알람 추가"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.drinkssu.yourvoicealarm.RecordVoice"
            android:label="@string/title_activity_record_voice"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.drinkssu.yourvoicealarm.Main_alarm"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.drinkssu.yourvoicealarm.InputAlarmNameDialog"
            android:label="@string/title_activity_input_alarm_name_dialog"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.drinkssu.yourvoicealarm.CustomUIActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.drinkssu.yourvoicealarm.AlarmSetting"
            android:label="@string/title_activity_alarm_setting"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Dialog" >
        </activity>

        <activity
            android:name="com.drinkssu.yourvoicealarm.user_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.drinkssu.yourvoicealarm.alarmReceiver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkSTT"
            android:label="@string/title_activity_check_stt"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".eoff2"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>